<h1>Задачка на собеседование</h1>

<p>
  К нам в руки попал лист с программой на неизвестном языке программирования. Помоги разобраться с ней!
</p>

<div class='challenge rounded' id='challenge'>
  <p>#include &#x3c;stdio.h&#x3e;</p>
  <p>void main() {</p>
  <p>  printf("Hello world\n");</p>
  <p>}</p>

  <p>Your flag is <%=FLAG%></p>
</div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    challenge.style.opacity = 1;
  });
</script>
